.card-container {
  background-color: #f7f6f9;
  padding: 3rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-container {
  display: flex;
  margin-right: 6rem;
}

.btn-container > * {
  margin: 5px;
}

.btn-c {
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 50%;
  border-style: none;
  height: 2rem;
  width: 2rem;
}
.btn-c:hover{
  cursor: pointer;
  background-color: #302f2f;
}

.btn-f {
  background-color: #ffffff;
  color: #1a1a1a;
  border-radius: 50%;
  border-style: none;
  height: 2rem;
  width: 2rem;
}
.btn-f:hover{
  cursor: pointer;
  background-color: #ebe9e9a8;
}

.small-card-container {
  display: flex;
  justify-content: space-between;
}

.highlights-container {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.special-card{
  font-size: 1rem !important;
}