.card-container {
  background-color: #f7f6f9;
  padding: 3rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
}
.imgStyle {
  width: 100px;
  height: 100px;
  margin-top: 4rem;
}
.big-number {
  font-size: 4rem;
  font-weight: bold;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-container {
  display: flex;
  margin-right: 6rem;
}

.btn-container > *{
  margin: 5px;
}

.btn-c {
  background-color: #1a1a1a;
  color: #FFFFFF;
  border-radius: 50%;
  border-style: none;
  height: 2rem;
  width: 2rem;
}

.btn-f {
  background-color: #FFFFFF;
  color: #1a1a1a;
  border-radius: 50%;
  border-style: none;
  height: 2rem;
  width: 2rem;
}

.small-card-container{
  display: flex;
  justify-content: space-between;
  
}
