.card-container {
  background-color: #f7f6f9;
  padding: 2rem;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}
.imgStyle {
  width: 100px;
  height: 100px;
  margin-top: 4rem;
}
.big-number {
  font-size: 4rem;
  font-weight: bold;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  margin-top: 1rem;
}
.btn-c {
  background-color: #1a1a1a;
  color: white;
  border-radius: 50%;
  border-style: none;
  height: 2rem;
  margin-right: 1.8rem;
}

.btn-f {
  background-color: white;
  color: #1a1a1a;
  border-radius: 50%;
  border-style: none;
  height: 1.8rem;
}
