.small-card{
    background: #FFFFFF;
    width: 5.7vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 600;
    transition: .15s;
    transition-timing-function: ease-in-out;
}

.small-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px, 16px rgba(0,0,0,0.2);
    cursor: pointer;
    
}

.icon{
    width: 75%;

}

.temperature-container{
    display: flex;
    align-items: center;
}

.temperature-container > * {
    margin: 0 2px;
}

.weather-day{
    margin: 0;
}

.temperature-container > span{
    color: #CECECE;
}