body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto,
    sans-serif;
 
}


@font-face {
  font-family: 'roboto';
  src: url(./Roboto-fonts/Roboto-Thin.ttf);
  font-style: normal;
}